nltk
svgling

# For word2vec model
gensim 

# python library that addes a smart progress meter to loops, making it easy to track how long tasks are taking and how much work is left.
tqdm 

# Library used for web scraping- extract contents from websites like text, images, links, etc.
# Finding html tags in strings.
beautifulsoup4

lxml