<html>
<body>

<h2>3H - Redirect to another URL</h2>

<form action="/redirect_to_another_url" method="post">

    <label for="'science">Science</label>
    <input type="'text" id="'science" name="science" value="10"/>

    <label for="'math">Math</label>
    <input type="'text" id="'maths" name="maths" value="30"/>
    
    <label for="'arts">Arts</label>
    <input type="'text" id="'arts" name="arts" value="60"/>
    
    <label for="'data_science">Data Science</label>
    <input type="'text" id="'data_science" name="data_science" value="99"/>
    
    <input type="submit" value="Submit"/>

</form>

</body>

</html>